/* content styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;    
}

a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
a:hover {
    /* text-decoration: underline; */
    font-weight: bold;
}
a:visited {
    color: goldenrod;
    text-decoration: underline;
}
.pageheading {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: white;
}
h2 {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

/* page layout styles */
.pagebasic {
    background-color: gray;
}
.header {
    /* top: 5px;
    left: 5px;
    right: 5px; */
    height: 500px;
    position: relative;
    border: solid 1px black;
    background: no-repeat center center;
    background-size: cover;
}
.linkstoprofpage {
    float: right;
    padding-top: 7px;
    padding-right: 10px;
}
.quicknavinpage {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    position: absolute;
    padding-left: 10px;

}
.footer {
    height: 50px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    font-size: 12px;
    position: relative;
    text-align: center ;
    color: white;
}
.fontbigger {
    font-size: 20px;
}
.container {
    display: flex;
    align-items: center;
}
.leftlist {
    height: 500px;
    left: 5px;
    width: 150px;
    background-color: aliceblue;
}
.maincontent {
    left: 100px;
    right: 100px;
    top: 550px;
    bottom: auto;
    /* background-color: gray; */
    text-align: justify;
    padding-left:  100px;
    padding-right: 100px;
    padding-top: 75px;
}
.center {
    text-align: center;
    padding-left: 10px;
}
p {
    /* padding-left: 200px;
    padding-right: 200px; */
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3 {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}